
.btn-facebook, .btn-google, .btn-registros{
    width: 30%;
    right: 30%;
}
.btn-facebook{
    background: #3b5998;
    color: #fff;


}
.btn-google{
    background: #dd4b39;
    color:#fff;


}
.btn-registros{
    background:#55acee;
    color: #fff;
}

