<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>acceso del usuario</title>
</head>
<body>

<div class="container" >
   
<input type="text" name="nombreU" id="nombreU" placeholder="Nombre" title="Nombre del Usuario">
<input type="password" name="pass" id="pass" placeholder="Contraseña" title="Ingresa tu Contraseña">
<a class="btn btn-primary btn-block" (click)="iniciarSesion()" routerLink="/login-u">Iniciar Sesión</a>
  
  </div>

<div class="form-group">
    <h6>¿AUN NO REGISTRADO?<a routerLink="/registro">Registrate</a></h6>
  </div>
</div>




  

</body>
</html>