.btn-facebook, .btn-google, .btn-login{
    width: 30%;
    right: 30%;
}
.btn-facebook{
    background: #3b5998;
    color: #fff;
}
.btn-google{
    background: #dd4b39;
    color:#fff;


}
.btn-login{
    background:#55acee;
    color: #fff;
}
.card1{
    background: rgba(red, green, blue, alpha)
}