<p>
  inicio works!
</p>

<app-modal></app-modal>


<div class="card">
  <div class="card-body">
    <h6 class="text-center">Lista de Vacantes Registrados</h6>
  </div>
  <table class="table table-sm table-hover">
    <tbody>
      <tr *ngFor="let vacante of vacanteList">
        <td>{{vacante.nombreEmpresa}}</td>

        <td>
          <a class="btn btn-secondary text-white" (click)="onEdit(vacante)">
            <i class="far fa-edit"></i>
          </a>
          <a class="btn btn-danger text-white" (click)="onDelete(vacante.id)">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>








<button (click)="cerrrarSesion()">Cerrar sesion</button>