<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="jumbotron">
  <h1>MyJob!</h1>
  <p>MyJob es una plataforma en donde puedes buscar trabajo de forma rápida, segura y sencilla, en nuestra plataforma podrás encontrar 
    las mejores ofertas de trabajo, no importa si tienes una profesión o no, esta plataforma es para todos.
  <p>MyJob está pensado para toda saz
</div>
<ngb-accordion #acc="ngbAccordion">

  <ngb-panel id="toggle-2" title="Oliver José José">
    <ng-template ngbPanelContent>
      e-mail:
      <br>facebook: <a href="www.facebook.com">Oliver</a>
      <br>Telefono:
    </ng-template>
  </ngb-panel>

  <ngb-panel id="toggle-1" title="Vicente Perez Santiago">
    <ng-template ngbPanelContent>
      e-mail:
      <br>facebook: <a href="https://www.facebook.com/EL.INMORTAL.1">Vicente Perez</a>
      <br>Telefono: 953 126 8423
    </ng-template>
  </ngb-panel>

  <ngb-panel id="toggle-3" title="Eleazar Gonzales Sanjuan">
    <ng-template ngbPanelContent>

      e-mail:
      <br>facebook: <a href="www.facebook.com">Eleazar Gonzales Sanjuan</a>
      <br>
      <br>Telefono: 953 139 3178
    </ng-template>
  </ngb-panel>

  <ngb-panel id="toggle-4" title="Andrés Reyes León">
    <ng-template ngbPanelContent>
      e-mail: andres.rele@hotmail.com
      <br>facebook: <a href="https://www.facebook.com/gusano.reyes">Andres Ryes</a>
      <br>Telefono: 953 139 8162
    </ng-template>
  </ngb-panel>
</ngb-accordion>
<hr />

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body"> ::before Panel content ::after</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Oliver José José</div>
    <div class="panel-body">Panel Content</div>
  </div>