<div class="jumbotron" style="background: url(https://www.trabajob.com//assets/img/slider4.jpg) no-repeat fixed center;-webkit-background-size: cover;  -moz-background-size: cover; -o-background-size: cover;  background-size: cover;  height: 80%;width: 100% ;">
  <div class="container jumbotron" style="background-color: rgba(252, 252, 252, 0.4)">
    <h2 class="title">MyJob!</h2>
    <p ALIGN="justify">MyJob es una plataforma web la cual tiene la finalidad de brindar a usuarios una
      manera más fácil, segura y rápida de encontrar trabajo en una
      empresa. MyJob no solo está pensado para personas con profesiones sino que es libre para todas aquellas personas
      que tengan las ganas de trabajar o reclutar personas para sus negocios.
      La plataforma web brinda la facilidad de que tanto usuarios y empresas
      puedan establecer un contacto seguro y confiable.
      <hr> 
      <h2 class="title">Objetivo</h2>
      <p aling="justify" >
        Ofrecer una plataforma innovadora para búsqueda de trabajo de una manera
        más fácil, segura y rápida, a través de un diseño web que permita registro de
        usuarios en busca de empleo
      </p>
  </div>
  <div class="container jumbotron" style="background-color: rgba(252, 252, 252, 0.4)">
      <h3 class="title">Desarrolladores</h3>
      <hr>
      <p>MyJob nació para hacer frente al desempleo, ya que hoy en la actualidad el incremento de desempleo en el país en los últimos
          años ha incrementado en mayor cantidad, lo cual genera muchos aspectos negativos en la sociedad: como lo es la violencia,
          el crimen organizado, la corrupción entre otras tantas cosas.</p>
      <p>El equipo de desarrollo está conformado por los alumnos de la carrera de Ingeniería en Sistemas Computacionales del Instituto 
        Tenológico de Tlaxiaco, a continuación, se muestran los datos de los integrantes de este equipo:</p>
  <div class="container">
    <ngb-accordion #acc="ngbAccordion" style="background-color: rgba(252, 252, 252, 0.5);">
      <ngb-panel id="toggle-2" title="Oliver José José">
        <ng-template ngbPanelContent>
          <img src="https://cdn.icon-icons.com/icons2/535/PNG/512/Email-Icon_icon-icons.com_52870.png" width="30"
            height="30" class="d-inline-block align-top" alt="">
          <br><img src="https://cdn.icon-icons.com/icons2/555/PNG/512/facebook_icon-icons.com_53612.png" width="30"
            height="30" class="d-inline-block align-top" alt=""> <a href="www.facebook.com"> Oliver José José</a>
          <br><img src="https://cdn.icon-icons.com/icons2/56/PNG/512/metro_altphone_11264.png" width="30" height="30"
            class="d-inline-block align-top" alt="">
        </ng-template>
      </ngb-panel>

      <ngb-panel id="toggle-1" title="Vicente Perez Santiago">
        <ng-template ngbPanelContent>
          <img src="https://cdn.icon-icons.com/icons2/535/PNG/512/Email-Icon_icon-icons.com_52870.png" width="30"
            height="30" class="d-inline-block align-top" alt="">
          <br><img src="https://cdn.icon-icons.com/icons2/555/PNG/512/facebook_icon-icons.com_53612.png" width="30"
            height="30" class="d-inline-block align-top" alt=""> <a href="https://www.facebook.com/EL.INMORTAL.1">Vicente
            Perez</a>
          <br><img src="https://cdn.icon-icons.com/icons2/56/PNG/512/metro_altphone_11264.png" width="30" height="30"
            class="d-inline-block align-top" alt=""> 953 126 8423
        </ng-template>
      </ngb-panel>

      <ngb-panel id="toggle-3" title="Eleazar Gonzales Sanjuan">
        <ng-template ngbPanelContent>
          <img src="https://cdn.icon-icons.com/icons2/535/PNG/512/Email-Icon_icon-icons.com_52870.png" width="30"
            height="30" class="d-inline-block align-top" alt="">
          <br><img src="https://cdn.icon-icons.com/icons2/555/PNG/512/facebook_icon-icons.com_53612.png" width="30"
            height="30" class="d-inline-block align-top" alt=""> <a href="www.facebook.com"> Eleazar Gonzales Sanjuan</a>
          <br><img src="https://cdn.icon-icons.com/icons2/56/PNG/512/metro_altphone_11264.png" width="30" height="30"
            class="d-inline-block align-top" alt=""> 953 139 3178
        </ng-template>
      </ngb-panel>


      <ngb-panel id="toggle-4" title="Andrés Reyes León">
        <ng-template ngbPanelContent>
          <img src="https://cdn.icon-icons.com/icons2/535/PNG/512/Email-Icon_icon-icons.com_52870.png" width="30"
            height="30" class="d-inline-block align-top" alt="">andres.rele@hotmail.com
          <br><img src="https://cdn.icon-icons.com/icons2/555/PNG/512/facebook_icon-icons.com_53612.png" width="30"
            height="30" class="d-inline-block align-top" alt=""> <a href="https://www.facebook.com/gusano.reyes">
            Andres Ryes</a>
          <br><img src="https://cdn.icon-icons.com/icons2/56/PNG/512/metro_altphone_11264.png" width="30" height="30"
            class="d-inline-block align-top" alt=""> 953 139 8162
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
</div>
<div class="jumbostron">
    <footer class="container">
        <p>&copy; MyJob 2017-2018 Instituto Tecnologico de Tlaxiaco</p>
      </footer>
</div>