<nav class="navbar navbar-dark bg-dark">
  <a href="/" class="navbar-brand">Myjob</a>
  <a href="/" class="navbar-brand">Empleo</a>
    <a routerLinkActive="active" routerLink="/login-e" class="navbar-brand">Empresa</a>
  <a href="/" class="navbar-brand">Quienes somos</a>
</nav>

<div class="row">
  <div class="colm-md-12">
      <h1>. Bienvenido MyJob</h1>
      ¿Quienes somos?
  </div>
    
</div>
<hr>
<router-outlet></router-outlet>
<body>MyJob es una plataforma en donde puedes realizar busquedas de trabajo de forma rápida y segura, esta idea fué
  realizada por los alumnos de la carrera de Sistemas Computacionales del Instituto Tecnológico de Tlaxiaco con el fin 
  de ayudar a personas que se encuentran desempleadas o para aquellas empresas que necesitan personal para sus instalaciones.
</body>