<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Myjob</a>
    <a routerLinkActive="active" routerLink="/login-u" class="navbar-brand">Empleo</a>
    <a routerLinkActive="active" routerLink="/login-e" class="navbar-brand">Empresa</a>
    <a href="/" class="navbar-brand">Quienes somos</a>
  </nav>

  <div class="row">
    <div class="colm-md-12">
        <h1>. Bienvenido MyJob</h1>
    </div>
      
  </div>
<body>
  Hola amigos
</body>
  <hr>


<router-outlet></router-outlet>
