<div class="row">
  <div class="card mt-5">
    <div class="card-body">
      <form #formEmpresa="ngForm" (ngSubmit)="onSubmit(formEmpresa)">
        <!---CAMPO OCULTO PARA SABER SI ESTA EDITANDO O AGREGANDO-->
      <input type="hidden" name="id" #id="ngModel" [(ngModel)]="servicioempService.selecEmp.id">

        <div class="form-group">
          <input type="text" 
          class="form-control" 
          name="nombreE" 
          #nombreE ="ngModel" 
          [(ngModel)]="servicioempService.selecEmp.nombreE" 
          placeholder="Nombre De La Empresa">
        </div>

        <div class="form-group">
          <input type="text" 
          class="form-control" 
          name="rfc" 
          #rfc ="ngModel" 
          [(ngModel)]="servicioempService.selecEmp.rfc" 
          placeholder="RFC De La Empresa">
        </div>

        <div class="form-group">
          <input type="text" 
          class="form-control" 
          name="ubicacion" 
          #ubicacion="ngModel" 
          [(ngModel)]="servicioempService.selecEmp.ubicacion" 
          placeholder="Ubicación">
        </div>
        <div class="form-group">
          <input type="text" 
          class="form-control" 
          name="nombreU" 
          #nombreU="ngModel" 
          [(ngModel)]="servicioempService.selecEmp.nombreU" 
          placeholder="Nombre De Usuario">
        </div>
        <div class="form-group">
          <input type="text" 
          class="form-control" 
          name="apellidos" 
          #apellidos="ngModel" 
          [(ngModel)]="servicioempService.selecEmp.apellidos" 
          placeholder="Apellidos">
        </div>
        <div class="form-group">
          <input type="email" 
          class="form-control" 
          name="correo" 
          #correo="ngModel" 
          [(ngModel)]="servicioempService.selecEmp.correo" 
          placeholder="Correo Electrónico">
        </div>
        <div class="form-group">
          <input type="password" 
          class="form-control" 
          name="contrasenia" 
          #contrasenia="ngModel" 
          [(ngModel)]="servicioempService.selecEmp.contrasenia" 
          placeholder="Contraseña">
        </div>
      
        <div class="form-group">
          <button class="btn btn-primary" type="submit">
            <i class="fas fa-plus-circle">Registrar Empresa</i>
          </button>
          
          <button class="btn btn-secondary" type="reset" (click)="limpiarFormulario(formEmpresa )">
            <i class="fas fa-sync-alt">Limpiar </i>
          </button>
        </div>
      </form>
      <hr>
      <div class="form-group">
        <h6>¿Ya tienes una cuenta?</h6><a routerLink="/login-e">Inicia Sesión</a>
      </div>
    </div>
  </div>
</div>




<br>
<a routerLink="/inicio">Inicio empresa</a>